@media (max-width: 920px) {
  .menu {
    display: flex;
    flex-direction: column;
  }

  .home-page {
    background-size: auto;
  }

  p {
    font-size: 16px;
  }

  .menu {
    font-size: 20px;
    position: static;
    left: 350px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
  .logo {
    margin-left: -10px;
  }

  nav {
    display: none;
    background-color: var(--color-light-green);
    z-index: 2;
    text-align: center;
  }

  #menu-checkbox:checked ~ nav {
    display: grid;
    grid-template-columns: 920px;
    position: absolute;
    left: -1px;
    top: 113px;
    z-index: 1000;
    box-shadow: 0px 0px 2px;
  }

  .address {
    text-align: center;
    padding-bottom: 50px;
  }

  .opening-hours {
    position: inherit;
    margin-top: 35px;
  }

  .artical-text {
    padding-left: 40px;
    padding-right: 40px;
  }

  .cta-1 {
    padding: 15px 10px;
  }

  .teacher,
  .kids {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: 20px;
  }
  .shop {
    background-size: auto;
  }
  .wrap-2 {
    flex-direction: column;
    align-items: center;
  }
  .copywrite {
    display: block;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-right: 50px;
    box-sizing: border-box;
    width: 200px;
  }
}

/*--------------------------------------------------800px --------------------------*/
@media (max-width: 800px) {
  .menu {
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 16px;
  }

  .heading-1 {
    font-size: 32px;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  header {
    margin: 0px;
  }

  .menu {
    font-size: 18px;
    position: static;
    left: 350px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }

  nav {
    display: none;
    background-color: var(--color-light-green);
    z-index: 2;
    text-align: center;
  }

  .one {
    top: 93px;
    left: 174px;
  }

  .two {
    top: -114px;
    bottom: 0px;
    left: 232px;
  }

  .three {
    position: static;
  }

  .wrap-1 {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #menu-checkbox:checked ~ nav {
    display: grid;
    grid-template-columns: 800px;
    position: absolute;
    left: -1px;
    top: 113px;
  }

  .address {
    text-align: center;
    padding-bottom: 50px;
  }

  .opening-hours {
    position: inherit;
    margin-top: 35px;
  }

  .artical-text {
    padding-left: 40px;
    padding-right: 40px;
  }

  .cta-1 {
    padding: 15px 10px;
  }

  .teacher,
  .kids {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: 20px;
  }

  .sosial-media {
    padding: 5px 5px;
  }
  .wrap-2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
  }
  .wrap-1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: inherit;
    padding: 25px;
  }
  .background-1 {
    background-size: inherit;
  }

  .text-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .text-2 {
    padding: 20px 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .text-3 {
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .about-text {
    padding: 10px;
  }
  .heading-1 {
    font-size: 28px;
  }
  .heading {
    font-size: 25px;
  }

  .open {
    margin-top: 34px;
  }
}
/*--------------------------------------------------600px --------------------------*/
@media (max-width: 600px) {
  h1 {
    font-size: 1.2em;
  }

  .heading-1 {
    font-size: 30px;
  }

  h2 {
    font-size: 1em;
  }

  .Online-form {
    font-size: 30px;
  }

  .one {
    max-width: 78px;
  }

  .event-img {
    max-width: 400px;
  }

  .two {
    top: -78px;
    left: 124px;
  }

  .three {
    left: -199px;
    top: 64px;
  }

  .cta-book {
    top: -125px;
  }

  .wrap-1 {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .wrap-3 {
    flex-direction: column;
    position: relative;
    top: -186px;
  }

  .teacher,
  .kids {
    position: static;
    margin-top: 40px;
    font-size: 30px;
  }

  .teacher-img {
    position: static;
  }

  .exhibition {
    background-size: auto;
  }

  .name {
    top: 222px;
  }

  .main-4 {
    background-position-x: -112px;
  }

  #menu-checkbox:checked ~ nav {
    display: grid;
    grid-template-columns: 600px;
    position: absolute;
    left: -1px;
    top: 113px;
  }
}
/*--------------------------------------------------420px --------------------------*/
@media (max-width: 420px) {
  #menu-checkbox:checked ~ nav {
    display: grid;
    grid-template-columns: 420px;
    position: absolute;
    left: -1px;
    top: 113px;
  }

  p {
    font-size: 15px;
  }

  .wrap-1 {
    padding: 30px 10px;
  }

  .one,
  .two,
  .three {
    display: none;
  }

  .opening-hours {
    padding-right: 30px;
    padding-left: 30px;
  }
  .about-text {
    padding: 10px;
  }
  .heading-1 {
    font-size: 25px;
  }
  .heading {
    font-size: 25px;
  }
  .main-4 {
    background-position-x: -207px;
    max-width: 400px;
  }
  .name {
    top: 67px;
  }

  .exhibition {
    background-position-x: -224px;
  }

  .img {
    max-width: 400px;
    margin: 0 auto;
  }
  .cta-3 {
    padding: 10px 0px;
    width: 150px;
  }
  .cta-1,
  .cta {
    width: 102px;
  }
  .kids {
    font-size: 30px;
    margin-top: 25px;
  }
  .wrap-3 {
    position: static;
    padding-top: 0px;
  }

  .main,
  .main-1,
  .main-2,
  .main-3 {
    max-width: 400px;
  }
  .main-2 {
    background-position-x: -285px;
  }

  .main-3 {
    background-position-x: -124px;
  }
}
