@media (max-width: 800px) {
  .menu {
    display: flex;
    flex-direction: column;
  }

  #menu-checkbox:checked ~ nav {
    display: grid;
    position: absolute;
    left: 32px;
    top: 155px;
  }

  .address {
    text-align: center;
    padding-bottom: 50px;
  }

  .opening-hours {
    position: inherit;
  }

  .cta-1 {
    padding: 15px 10px;
  }

  .teacher,
  .kids {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: 20px;
  }

  .copywrite {
    display: block;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-right: 50px;
    box-sizing: border-box;
    width: 200px;
  }
  .sosial-media {
    padding: 5px 5px;
  }
  .wrap-2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wrap-1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: inherit;
  }
  .background-1 {
    background-size: inherit;
  }

  .text-1 {
    box-shadow: 1px 1px 34px var(--color-grey);
  }
  .middle {
    box-shadow: 1px 1px 34px var(--color-grey);
  }

  .text-2 {
    padding: 20px 40px;
  }
  .text-3 {
    margin-top: 20px;
  }

  .one,
  .two,
  .three {
    display: none;
  }
}
