:root {
  --color-perpal: #aeafd6;
  --color-red-light: #f89380;
  --color-grey: #d2ced5;
  --color-light-green: #e6ede7;
  --color-text-color: #4b2f2f;
  --color-link: #084dbd;
  --font-h1: 60px;
  --font-h2: 42px;
  --font-h3: 36px;
  --font-p: 18px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo {
  max-width: 200px;
  width: 100%;
  margin: 15px;
}

header {
  background-color: var(--color-light-green);
  display: flex;
  align-items: center;
}

ul a {
  padding: 20px;
  text-decoration: none;
  color: var(--color-text-color);
  font-size: 21px;
  font-family: "Roboto", sans-serif;
}
.active {
  padding-left: 120px;
}

.tittle {
  text-align: center;
}
