body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tittle {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1px;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.background {
  background-image: url(/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: cover;
}
